PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.wxuzpv3.mongodb.net/focusflow?appName=Cluster0
JWT_SECRET=focusflow_super_secret_key_change_in_production
JWT_EXPIRES_IN=7d
RESEND_API_KEY=your_resend_api_key
